<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<!-- 所有model和与数据表映射对应关系配置 -->
	 <typeAliases>
		<typeAlias alias="xfCheckTimeRound" type="com.hhgx.soft.entitys.XfCheckTimeRound"/> 
		<typeAlias alias="retrieveZtreeNodes" type="com.hhgx.soft.entitys.RetrieveZtreeNodes"/> 
	
	</typeAliases> 

</configuration>