<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<!-- 所有model和与数据表映射对应关系配置 -->
	 <typeAliases>
		<typeAlias alias="xfCheckTimeRound" type="com.hhgx.soft.entitys.XfCheckTimeRound"/> 
		<typeAlias alias="retrieveZtreeNodes" type="com.hhgx.soft.entitys.RetrieveZtreeNodes"/> 
		<typeAlias alias="childModule" type="com.hhgx.soft.entitys.ChildModule"/> 
		<typeAlias alias="user" type="com.hhgx.soft.entitys.User"/> 
	    <typeAlias alias="registerNew" type="com.hhgx.soft.entitys.RegisterNew"/> 
	    <typeAlias alias="patrolRecord" type="com.hhgx.soft.entitys.PatrolRecord"/> 
	    <typeAlias alias="managerOrg" type="com.hhgx.soft.entitys.ManagerOrg"/> 
	    <typeAlias alias="managerSubs" type="com.hhgx.soft.entitys.ManagerSubs"/> 
	    <typeAlias alias="userInfo" type="com.hhgx.soft.entitys.UserInfo"/> 
	    <typeAlias alias="userCheckInfo" type="com.hhgx.soft.entitys.UserCheckInfo"/> 
	    <typeAlias alias="ztree" type="com.hhgx.soft.entitys.Ztree"/> 
	
	</typeAliases> 

</configuration>