<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.AlarmDataMapper">

	<select id="getfireAlarmCount" resultType="int">
		SELECT
		COUNT(*)
		FROM
		eventinfos e,
		v_FireAlarm v
		WHERE
		e.deviceaddress = v.deviceaddress
		AND e.sysaddress = v.Sysaddress
		AND e.Gatewayaddress = v.Gatewayaddress 
		and e.cAlarmtype = #{cAlarmtype}
		AND v.orgid = #{orgid}
		<if test="siteid !=null and siteid !='' ">
		and
		v.siteid = #{siteid}
		</if>
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		e.dFirstAlarmtime BETWEEN #{startTime} and #{endTime}
		</if>
	</select>
	
	<select id="getAlarmDataListCount" resultType="int">
	SELECT
		COUNT(*)
		FROM
		alarmdata a,
		v_FireAlarm v
	WHERE
		a.deviceaddress = v.deviceaddress
	AND a.sysaddress = v.Sysaddress
	AND a.Gatewayaddress = v.Gatewayaddress
	and a.cAlarmtype = #{cAlarmtype}
	AND v.orgid = #{orgid}
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		a.dFirstAlarmtime BETWEEN #{startTime} and #{endTime}
		</if>
	</select>
	
	<select id="getAlarmDataList" resultType="map">
	SELECT
		DATE_FORMAT(
				a.chulidate,
				'%Y/%m/%d %H:%i:%s'
			) chulidate,
		a.checkresult,
		a.Firealarmid,
		v.DeviceTypeName,
		v.sitename,
		v.location
	FROM
		alarmdata a,
		v_FireAlarm v
	WHERE
		a.deviceaddress = v.deviceaddress
	AND a.sysaddress = v.Sysaddress
	AND a.Gatewayaddress = v.Gatewayaddress
	and a.cAlarmtype = #{cAlarmtype}
	AND v.orgid = #{orgid}
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		a.dFirstAlarmtime BETWEEN #{startTime} and #{endTime}
		</if>
		limit
		#{startPos},#{pageSize}
	</select>
	<select id="fireDealInfo" resultType="fireDealInfo">
	  orgname
      DeviceTypeName
      sitename
      Gatewayaddress
      deviceaddress
      idevicetype
      StateValue
      location
      fPositionX
      fPositionY
      DeviceNo
      dFirstAlarmtime
      AlarmNum
      dRecentAlarmtime
      vSysdesc
      systypeID
      sysaddress
      dReceivetime
      vAlarmsource
      floornum
      vfireroomtel
      "Picpath": [
        "/Uploading/510108000001/Appearancepic/4a2c470e-f43c-4ffe-917f-b6be6b81e837.jpg",
        "/Uploading/510108000001/Appearancepic/a24eac0f-b06c-4f1a-9526-7d58607c04c0.png",
        "/Uploading/510108000001/Appearancepic/c0453857-aeba-4cd0-8923-ca5e53a87dba.jpg"
      ],
      imFlatPic
      bFlatpic
      fLongitude
      fLatitude
      checkresult
      YnRequest
      chulidate
      chuliren
      checkdesc
	
	</select>
	<select id="fireUnDealInfo" resultType="fireDealInfo">
	  orgname
      DeviceTypeName
      sitename
      Gatewayaddress
      deviceaddress
      idevicetype
      StateValue
      location
      fPositionX
      fPositionY
      DeviceNo
      dFirstAlarmtime
      AlarmNum
      dRecentAlarmtime
      vSysdesc
      systypeID
      sysaddress
      dReceivetime
      vAlarmsource
      floornum
      vfireroomtel
      "Picpath": [
        "/Uploading/510108000001/Appearancepic/4a2c470e-f43c-4ffe-917f-b6be6b81e837.jpg",
        "/Uploading/510108000001/Appearancepic/a24eac0f-b06c-4f1a-9526-7d58607c04c0.png",
        "/Uploading/510108000001/Appearancepic/c0453857-aeba-4cd0-8923-ca5e53a87dba.jpg"
      ],
      imFlatPic
      bFlatpic
      fLongitude
      fLatitude
      checkresult
      YnRequest
      chulidate
      chuliren
      checkdesc
	
	</select>
	
	<select id="findFireAlarm" resultType="map">
		SELECT
			e.Firealarmid,
			DATE_FORMAT(
				e.dRecentAlarmtime,
				'%Y/%m/%d %H:%i:%s'
			) dRecentAlarmtime,
			e.GateWayAddress Gatewayaddress,
			e.sysaddress,
			v.fPositionX,
			v.fPositionY,
			v.iDeviceType,
			v.DeviceTypeName,
			v.imFlatPic,
			v.siteid,
			e.faultdesc,
			v.DeviceNo,
			e.deviceaddress,
			e.cAlarmtype,
			v.orgname,
			v.vSysdesc,
			v.sitename,
			v.floornum,
			v.location,
			e.faultdesc,
			DATE_FORMAT(
				e.dFirstAlarmtime,
				'%Y/%m/%d %H:%i:%s'
			) dFirstAlarmtime,
			e.AlarmNum
	    FROM
		eventinfos e,
		v_FireAlarm v
		WHERE
		e.deviceaddress = v.deviceaddress
		AND e.sysaddress = v.Sysaddress
		AND e.Gatewayaddress = v.Gatewayaddress 
		and e.cAlarmtype = #{cAlarmtype}
		AND v.orgid = #{orgid}
		<if test="siteid !=null and siteid !='' ">
		and
		v.siteid = #{siteid}
		</if>
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		e.dFirstAlarmtime BETWEEN #{startTime} and #{endTime}
		</if>
		limit
		#{startPos},#{pageSize}
	</select>
   <select id="findRecentAlarmInfo" resultType="map">
	 SELECT
		e.Firealarmid,
		DATE_FORMAT(
			e.dRecentAlarmtime,
			'%Y/%m/%d %H:%i:%s'
		) dRecentAlarmtime,
		e.GateWayAddress Gatewayaddress,
		e.sysaddress,
		v.fPositionX,
		v.fPositionY,
		v.iDeviceType,
		v.DeviceTypeName,
		v.imFlatPic,
		v.DeviceNo,
		e.deviceaddress,
		e.cAlarmtype,
		v.orgname,
		v.vSysdesc,
		v.sitename,
		v.floornum,
		v.location,
		e.faultdesc,
		DATE_FORMAT(
			e.dFirstAlarmtime,
			'%Y/%m/%d %H:%i:%s'
		) dFirstAlarmtime,
		e.AlarmNum
	FROM
		eventinfos e,
		v_FireAlarm v,
		(
			SELECT
				cAlarmtype,
				max(dFirstAlarmtime) max_day
			FROM
				eventinfos
			GROUP BY
				cAlarmtype
		) B
	WHERE
	e.deviceaddress = v.deviceaddress
	AND e.sysaddress = v.Sysaddress
	AND e.Gatewayaddress = v.Gatewayaddress
	AND B.max_day = e.dFirstAlarmtime
	and e.cAlarmtype = #{cAlarmtype}
		AND v.orgid = #{orgid}

	</select>

</mapper>