<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.FacilityMapper">

	<select id="getTrainingListCount" resultType="int">
		SELECT
		count(*)
		FROM
		training
		WHERE
		orgid = #{orgid}
	</select>

	<select id="getTrainingList" resultType="training">
	SELECT
		TrainingTime,
		TrainingAddress,
		TrainingContent,
		TrainingObject,
		TrainingType,
		Lecturer,
		HowmanyPeople
	FROM
		training
	WHERE
		orgid = #{orgid} and
		TrainingTime BETWEEN #{startTime} and #{endTime}
		LIMIT #{startPos},#{pageSize}
	</select>

	<delete id="deleteTraining">
		DELETE
		FROM
		training
		WHERE
		TrainingID = #{trainingID};
	</delete>
	
	<select id="getManoeuvreCount" resultType="int">
	SELECT
		count(*)
	FROM
		manoeuvre
	WHERE
		orgid =#{orgid}
	</select>
	<select id="getManoeuvreByOrgid" resultType="manoeuvre">
	SELECT
		manoeuvreID,
		manoeuvretime,
		address,
		Department,
		manager,
		content
	FROM
		manoeuvre
	WHERE
		orgid = #{orgid} 
	LIMIT #{startPos},#{pageSize}
	</select>
	<select id="getManoeuvreDetail" resultType="manoeuvre">
	SELECT
		manoeuvreID,
		manoeuvretime,
		address,
		Department,
		manager,
		content,
		scheme,
		attendperson,
		implementation,
		summary,
		suggestion,
		schemafile,
		attendpersonfile,
		implementationfile
	FROM
		manoeuvre
	WHERE
		manoeuvreID = #{manoeuvreID} 
	</select>
	<delete id="deleteManoeuvre">
		DELETE
		FROM
		manoeuvre
		WHERE
		manoeuvreID = #{manoeuvreID};
	</delete>
</mapper>