<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.FacilityMapper">
	<select id="getAllSys" resultType="firesystype">
	SELECT
		tiSysType,
		vSysdesc,
		OrderNo
	FROM
		firesystype
	</select>
	<select id="getTrainingListCount" resultType="int">
		SELECT
		count(*)
		FROM
		training
		WHERE
		orgid = #{orgid}
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		 and
		TrainingTime BETWEEN #{startTime} and #{endTime}
		</if>
	</select>

	<select id="getTrainingList" resultType="training">
	SELECT
		TrainingID,
		TrainingTime,
		TrainingAddress,
		TrainingContent,
		TrainingObject,
		TrainingType,
		Lecturer,
		HowmanyPeople
	FROM
		training
	WHERE
		orgid = #{orgid}
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		 and
		TrainingTime BETWEEN #{startTime} and #{endTime}
		</if>
		LIMIT #{startPos},#{pageSize}
	</select>

	<delete id="deleteTraining">
		DELETE
		FROM
		training
		WHERE
		TrainingID = #{trainingID}
	</delete>
	
	<select id="getManoeuvreCount" resultType="int">
	SELECT
		count(*)
	FROM
		manoeuvre
	WHERE
		orgid =#{orgid}
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		manoeuvretime BETWEEN #{startTime} and #{endTime}
		</if>
		
	</select>
	<select id="getManoeuvreByOrgid" resultType="manoeuvre">
	SELECT
		manoeuvreID,
		manoeuvretime,
		address,
		Department,
		manager,
		content
	FROM
		manoeuvre
	WHERE
		orgid = #{orgid} 
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		manoeuvretime BETWEEN #{startTime} and 	#{endTime}
		</if>
	LIMIT #{startPos},#{pageSize}
	</select>
	<select id="getManoeuvreDetail" resultType="manoeuvre">
	SELECT
		orgid,
		manoeuvreID,
		manoeuvretime,
		address,
		Department,
		manager,
		content,
		scheme,
		attendperson,
		implementation,
		summary,
		suggestion,
		schemafile,
		attendpersonfile,
		implementationfile
	FROM
		manoeuvre
	WHERE
		manoeuvreID = #{manoeuvreID} 
	</select>
	<delete id="deleteManoeuvre">
		DELETE
		FROM
		manoeuvre
		WHERE
		manoeuvreID = #{manoeuvreID}
	</delete>
	<select id="getTraingingDetail" resultType="training">
	SELECT
		TrainingID,
		TrainingTime,
		TrainingAddress,
		TrainingType,
		HowmanyPeople,
		Lecturer,
		TrainingObject,
		TrainingContent,
		AttendPeople,
		Examination,
		TrainingManager,
		ContentFile,
		examfile,
		signtable,
		orgid
	FROM
		training
	WHERE
		TrainingID = #{trainingID} 
	</select>
</mapper>