<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.FormMapper">

	<select id="findPicType" resultType="string">
		SELECT
		PicPath
		FROM
		usercheckpic
		WHERE
		PicID = #{picID}
	</select>
	<select id="findCflatPic" resultType="string">
		SELECT
		imFlatPic
		FROM
		flatpic
		WHERE
		cFlatPic = #{cFlatPic}
	</select>
	<update id="updateFireSystemList">
		UPDATE onlinefiresystem
		<trim prefix="set" suffixOverrides=",">
			<if test="newTisystype!=null and newTisystype!=''"> tisystype = #{newTisystype},</if>
			<if test="states!=null and states!=''"> states = #{states},</if>
			<if test="Remarks!=null and Remarks!=''"> Remarks = #{Remarks},</if>
			<if test="YnOnline!=null and YnOnline!=''"> YnOnline = #{YnOnline},</if>
			<if test="SysFlatpic!=null and SysFlatpic!=''"> SysFlatpic = #{SysFlatpic},</if>
		</trim>
		WHERE
		tisystype = #{tisystype}
		AND
		siteid = #{siteid}
	</update>
	
	<delete id="deletePicByID">
		DELETE
		FROM
		usercheckpic
		WHERE
		PicID = #{picID}
	</delete>
	<delete id="deleteAppearance">
		DELETE
		FROM
		appearancepic
		WHERE
		iphotoID = #{iphotoID}
	</delete>
	<insert id="addorgSys">
		INSERT INTO `onlinefiresystem` (
		`tiSysType`,
		`siteid`,
		`states`,
		`YnOnline`,
		`Remarks`,
		`SysFlatpic`
		)
		VALUES
		(
		#{tiSysType},
		#{siteid},
		#{states},
		#{ynOnline},
		#{remarks},
		#{sysFlatpic}
		)
	</insert>
	<insert id="addflatPic">
		INSERT INTO flatpic (
		cFlatPic,
		siteid,
		floornum,
		imFlatPic
		)
		VALUES
		(#{cFlatPic},#{siteid},#{floornum},#{imFlatPic})
	</insert>
	<update id="updateflatPic">
		update flatpic
		<trim prefix="set" suffixOverrides=",">
			<if test="siteid!=null and siteid!=''"> siteid = #{siteid},</if>
			<if test="floornum!=null and floornum!=''"> floornum = #{floornum},</if>
			<if test="imFlatPic!=null and imFlatPic!=''"> imFlatPic = #{imFlatPic},</if>
		</trim>
		where
		cFlatPic=#{cFlatPic}
	</update>
	<insert id="addUserCheckPic">
		INSERT INTO usercheckpic (
		PicID,
		PicPath,
		ProjectId,
		UploadTime,
		UserCheckId,
		PicType
		)
		VALUES
		(#{picID},#{picPath},#{projectId},#{uploadTime},#{userCheckId},#{picType})
	</insert>
	<insert id="addOrUpdateCheckRecord">
		INSERT INTO usercheckinfo (
		UserCheckId,
		ProjectId,
		UserCheckResult,
		FaultShow,
		YnHanding,
		Handingimmediately
		)
		VALUES
		(#{userCheckId},#{projectId},#{userCheckResult},#{faultShow},#{ynHanding},#{handingimmediately})
	</insert>
	<insert id="addTraining">
		INSERT INTO training (
		TrainingID,
		TrainingTime,
		TrainingAddress,
		TrainingType,
		HowmanyPeople,
		Lecturer,
		TrainingObject,
		TrainingContent,
		AttendPeople,
		Examination,
		TrainingManager,
		ContentFile,
		examfile,
		signtable,
		orgid
		)
		VALUES
		(
		#{trainingID},#{trainingTime},#{trainingAddress},
		#{trainingType},#{howmanyPeople},#{lecturer},
		#{trainingObject},#{trainingContent},#{attendPeople},
		#{examination},#{trainingManager},#{contentFile},
		#{examfile},#{signtable},#{orgid}
		)
	</insert>
	<update id="updateTraining" parameterType="training">
		UPDATE training
		<trim prefix="set" suffixOverrides=",">
			<if test="trainingTime!=null and trainingTime!=''"> TrainingTime = #{trainingTime},</if>
			<if test="trainingAddress!=null and trainingAddress!=''"> TrainingAddress = #{trainingAddress},</if>
			<if test="trainingType!=null and trainingType!=''"> TrainingType = #{trainingType},</if>
			<if test="howmanyPeople!=null and howmanyPeople!=''"> HowmanyPeople = #{howmanyPeople},</if>
			<if test="lecturer!=null and lecturer!=''"> Lecturer = #{lecturer},</if>
			<if test="trainingObject!=null and trainingObject!=''"> TrainingObject = #{trainingObject},</if>
			<if test="trainingContent!=null and trainingContent!=''"> TrainingContent =#{trainingContent},</if>
			<if test="attendPeople!=null and attendPeople!=''"> AttendPeople = #{attendPeople},</if>
			<if test="examination!=null and examination!=''"> Examination =#{examination},</if>
			<if test="trainingManager!=null and trainingManager!=''"> TrainingManager = #{trainingManager},</if>
			<if test="contentFile!=null and contentFile!=''"> ContentFile =#{contentFile},</if>
			<if test="examfile!=null and examfile!=''"> examfile = #{examfile},</if>
			<if test="signtable!=null and signtable!=''"> signtable=#{signtable},</if>
		</trim>
		WHERE
		orgid = #{orgid}
		and
		TrainingID = #{trainingID}
	</update>
	<insert id="addManoeuvre">
		INSERT INTO manoeuvre (
		manoeuvreID,
		Orgid,
		manoeuvretime,
		Address,
		Department,
		Manager,
		Content,
		Scheme,
		attendperson,
		implementation,
		Summary,
		suggestion,
		schemafile,
		attendpersonfile,
		implementationfile
		)
		VALUES
		(#{manoeuvreID},
		#{orgid},#{manoeuvretime},#{address},
		#{department},#{manager},#{content},
		#{scheme},#{attendperson},#{implementation},
		#{summary},#{suggestion},#{schemafile},
		#{attendpersonfile},#{implementationfile}
		)
	</insert>

	<update id="updateManoeuvre">
		UPDATE manoeuvre
		SET
		manoeuvretime =#{manoeuvretime},
		Address =
		#{address},
		Department = #{department},
		Manager = #{manager},
		Content =
		#{content},
		Scheme = #{scheme},
		attendperson = #{attendperson},
		implementation = #{implementation},
		Summary = #{summary},
		<if test="schemafile!= null and schemafile!=''">
			schemafile =#{schemafile},
		</if>
		<if test="attendpersonfile!= null and attendpersonfile!=''">
			attendpersonfile = #{attendpersonfile},
		</if>
		<if test="implementationfile!= null and implementationfile!=''">
			implementationfile = #{implementationfile},
		</if>
		suggestion = #{suggestion}
		WHERE
		manoeuvreID =#{manoeuvreID}
		and
		Orgid =
		#{orgid}

	</update>

	<insert id="addSafeManageRules">
		INSERT INTO safemanagerules (
		SafeManageRulesID,
		SafeManageRulesName,
		UploadTime,
		SafeManageRulesType,
		filepath,
		orgid
		)
		VALUES
		(
		#{safeManageRulesID},#{safeManageRulesName},#{uploadTime},
		#{safeManageRulesType},#{filepath},#{orgid}
		)
	</insert>
	<update id="updateSafeManageRules">
		UPDATE safemanagerules
		<trim prefix="set" suffixOverrides=",">
			<if test="safeManageRulesName!=null and safeManageRulesName!=''">
				SafeManageRulesName =#{safeManageRulesName},
			</if>
			<if test="uploadTime!=null and uploadTime!=''">
				UploadTime = #{uploadTime},
			</if>
			<if test="safeManageRulesType !=null and safeManageRulesType!=''">
				SafeManageRulesType= #{safeManageRulesType},
			</if>
			<if test="filepath!=null and filepath!=''">
				filepath = #{filepath},
			</if>
		</trim>
		WHERE
		orgid = #{orgid}
		and
		SafeManageRulesID = #{safeManageRulesID}
	</update>
	<select id="findFilePath" resultType="string">
		SELECT
		filepath
		FROM
		safemanagerules
		WHERE
		SafeManageRulesID = #{safeManageRulesID}
	</select>
	<insert id="addSafeDuty">
		INSERT INTO safeduty (
		SafeDutyID,
		dutyname,
		uploadtime,
		safedutytype,
		filepath,
		orgid
		)
		VALUES
		(
		#{safeDutyID},#{dutyname},#{uploadtime},
		#{safedutytype},#{filepath},#{orgid}
		)
	</insert>
	<insert id="addAppearance">
		INSERT INTO appearancepic (
		iphotoID,
		vPhotoname,
		dRecordDate,
		Picpath,
		ExteriorInfo,
		siteid
		)
		VALUES
		(
		#{iphotoID},#{vPhotoname},#{dRecordDate},#{picpath},#{exteriorInfo},#{siteid}
		)
	</insert>
	<update id="submitTotalFlatPic">
		UPDATE onlineorg
		<trim prefix="set" suffixOverrides=",">
			<if test="bFlatpic!=null and bFlatpic!=''">
				bFlatpic = #{bFlatpic},
			</if>
		</trim>
		WHERE
		orgid = #{orgid}
	</update>


	<update id="updateSafeDuty">
		UPDATE safeduty
		<trim prefix="set" suffixOverrides=",">
			<if test="dutyname!=null and dutyname!=''">
				dutyname = #{dutyname},
			</if>
			<if test="uploadtime!=null and uploadtime!=''">
				uploadtime =#{uploadtime},
			</if>
			<if test="safedutytype !=null and safedutytype!=''">
				safedutytype = #{safedutytype},
			</if>
			<if test="filepath!=null and filepath!=''">
				filepath = #{filepath},
			</if>
			<if test="orgid!=null and orgid!=''">
				orgid = #{orgid},
			</if>
		</trim>
		WHERE
		SafeDutyID = #{safeDutyID}
	</update>

	<select id="findSafeDutyFilePath" resultType="string">
		SELECT
		filepath
		FROM
		safeduty
		WHERE
		SafeDutyID = #{safeDutyID}
	</select>
	<select id="eixstLicenceCode" resultType="int">
		SELECT
		count(*)
		FROM
		businesslicence
		WHERE
		LicenceCode = #{licenceCode}
	</select>
	<select id="existOrgSys" resultType="int">
		SELECT
		count(*)
		FROM
		onlinefiresystem
		WHERE
		siteid = #{siteid} and
		tiSysType=#{tiSysType}

	</select>
	<update id="updateBusinessLicence">
		UPDATE businesslicence
		<trim prefix="set" suffixOverrides=",">
			<if test="conpanyName!=null and conpanyName!=''">
				ConpanyName = #{conpanyName},
			</if>
			<if test="companyType!=null and companyType!=''">
				CompanyType =#{companyType},
			</if>
			<if test="companyAddress !=null and companyAddress!=''">
				CompanyAddress = #{companyAddress},
			</if>
			<if test="companyRegister!=null and companyRegister!=''">
				CompanyRegister = #{companyRegister},
			</if>
			<if test="registMoney!=null and registMoney!=''">
				RegistMoney = #{registMoney},
			</if>
			<if test="buildTime!=null and buildTime!=''">
				BuildTime = #{buildTime},
			</if>
			<if test="businessEndTime!=null and businessEndTime!=''">
				BusinessEndTime = #{businessEndTime},
			</if>
			<if test="businessScope!=null and businessScope!=''">
				BusinessScope = #{businessScope},
			</if>
			<if test="auditingDepartment!=null and auditingDepartment!=''">
				AuditingDepartment = #{auditingDepartment},
			</if>
			<if test="registTime!=null and registTime!=''">
				RegistTime = #{registTime},
			</if>
			<if test="pictureUrl!=null and pictureUrl!=''">
				PictureUrl = #{pictureUrl},
			</if>
			<if test="orgid!=null and orgid!=''">
				orgid = #{orgid},
			</if>
		</trim>
		WHERE
		LicenceCode = #{licenceCode}
	</update>
	<insert id="addBusinessLicence">
		INSERT INTO businesslicence (
		LicenceCode,
		ConpanyName,
		CompanyType,
		CompanyAddress,
		CompanyRegister,
		RegistMoney,
		BuildTime,
		BusinessEndTime,
		BusinessScope,
		AuditingDepartment,
		RegistTime,
		PictureUrl,
		orgid
		)
		VALUES
		(
		#{licenceCode},#{conpanyName},#{companyType},
		#{companyAddress},#{companyRegister},#{registMoney},
		#{buildTime},#{businessEndTime},#{businessScope},
		#{auditingDepartment},#{registTime},#{pictureUrl},#{orgid}
		)
	</insert>

</mapper>