<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.ManageRuleMapper">

	<delete id="deleteSafeManageRules">
		DELETE
		FROM
			safemanagerules
		WHERE
			SafeManageRulesID = #{safeManageRulesID}
	</delete>
	<select id="safeManageRulesListCount" resultType="int">
		SELECT
			count(*)
		FROM
			safemanagerules
		WHERE
			orgid =#{orgid}
	</select>
	<select id="safeManageRulesList" resultType="safeManageRules">
		SELECT
			SafeManageRulesID,
			SafeManageRulesName,
			UploadTime,
			SafeManageRulesType,
			filePath,
			orgid
		FROM
			safemanagerules
		WHERE
			orgid =#{orgid}
		limit
			#{startPos},#{pageSize}
			
	</select>
	<select id="getSafeManageRules" resultType="safeManageRules">
		SELECT
			orgid,
			SafeManageRulesName,
			SafeManageRulesType,
			filepath
		FROM
			safemanagerules
		WHERE
			SafeManageRulesID = #{safeManageRulesID}
	</select>
	
	<delete id="deleteSafeDutyID">
		DELETE
		FROM
			safeduty
		WHERE
			SafeDutyID = #{safeDutyID}
	</delete>
	<select id="searchSafeDutyCount" resultType="int">
		SELECT
			count(*)
		FROM
			safeduty
		WHERE
			orgid =#{orgid}
	</select>
	
	
	
	<select id="searchSafeDuty" resultType="safeDuty">
		SELECT
			SafeDutyID,
			dutyname,
			uploadtime,
			safedutytype,
			filepath,
			orgid
		FROM
			safeduty
		WHERE
			orgid =#{orgid}
		limit
			#{startPos},#{pageSize}
	</select>
	
	<select id="safeDutyInfo" resultType="safeDuty">
		SELECT
			SafeDutyID,
			dutyname,
			uploadtime,
			safedutytype,
			filepath,
			orgid
		FROM
			safeduty
		WHERE
			SafeDutyID = #{safeDutyID}
	</select>
	
</mapper>