<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.OrginfoMapper">

	<select id="getOnlineOrg" resultType="onlineOrg">
		SELECT
		orgcode,
		orgname,
		vAddress,
		OrganType,
		vNamelegalperson,
		otherthings,
		YnImportant,
		SuperiorOrg,
		cZip,
		vTel,
		fax,
		`E-Mail` eMail,
		howmanypeople,
		souyouzhi,
		SetupDate,
		realtymoney,
		ipersonnum,
		fAreanum,
		fBuildingarea,
		GasType,
		howmanyfireman,
		howmanyexit,
		howmanystair,
		howmanylane,
		howmanyelevator,
		lanelocation,
		vfireroomtel,
		escapefloor,
		escapebuildingarea,
		escapelocation,
		neareast,
		nearsouth,
		nearwest,
		nearnorth,
		AutoFireFacility,
		fLongitude,
		fLatitude,
		bFlatpic,
		dRecordDate,
		managegrade,
		NetworkStatus,
		NetworkTime,
		ApproveState,
		ApproveTime,
		ApproveMan,
		AreaId,
		ManagerOrgID
		FROM
		onlineorg
		WHERE
		OrgID = #{orgID}
	</select>

	<update id="updateOnlineOrg">
		UPDATE onlineorg
		SET
		orgcode = #{orgcode} ,
		orgname = #{orgname} ,
		souyouzhi = #{souyouzhi} ,
		OrganType = #{organType} ,
		vNamelegalperson = #{vNamelegalperson} ,
		otherthings = #{otherthings} ,
		YnImportant = #{ynImportant} ,
		SuperiorOrg = #{superiorOrg} ,
		cZip = #{cZip} ,
		vTel = #{vTel} ,
		fax =
		#{fax} ,
		`E-Mail` = #{eMail} ,
		howmanypeople = #{howmanypeople} ,
		SetupDate= #{setupDate} ,
		realtymoney = #{realtymoney} ,
		ipersonnum = #{ipersonnum} ,
		fAreanum = #{fAreanum}
		,
		fBuildingarea = #{fBuildingarea} ,
		GasType = #{gasType} ,
		howmanyfireman = #{howmanyfireman} ,
		howmanyexit = #{howmanyexit} ,
		howmanystair = #{howmanystair} ,
		howmanylane = #{howmanylane} ,
		howmanyelevator = #{howmanyelevator} ,
		lanelocation = #{lanelocation} ,
		vfireroomtel = #{vfireroomtel} ,
		escapefloor = #{escapefloor} ,
		escapebuildingarea = #{escapebuildingarea} ,
		neareast = #{neareast} ,
		nearsouth = #{nearsouth} ,
		nearwest = #{nearwest} ,
		nearnorth =
		#{nearnorth} ,
		AutoFireFacility = #{autoFireFacility} ,
		dRecordDate =
		#{dRecordDate} ,
		managegrade = #{managegrade} ,
		NetworkStatus =
		#{networkStatus},
		NetworkTime = #{networkTime},
		ApproveState =
		#{approveState},
		ManagerOrgID = #{managerOrgID}
		WHERE
		OrgID = #{orgID}
	</update>
	<update id="setMapPoint">
		UPDATE onlineorg
		SET
		fLatitude = #{fLatitude} ,
		fLongitude = #{fLongitude}
		WHERE
		orgid = #{orgid}
	</update>
	<select id="getBusinessLicence" resultType="businessLicence">
		SELECT
		LicenceCode,
		ConpanyName,
		CompanyType,
		CompanyAddress,
		CompanyRegister,
		RegistMoney,
		BuildTime,
		BusinessEndTime,
		BusinessScope,
		AuditingDepartment,
		RegistTime,
		PictureUrl,
		orgid
		FROM
		businesslicence
		WHERE
		orgid = #{orgid}
		order by RegistTime
	</select>

	<select id="orgSiteSys" resultMap="siteSysMap">
		SELECT
		s.siteid,
		s.sitename,
		o.tiSysType
		FROM
		site s
		INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
		WHERE
		orgid = #{orgid}
	</select>
	<resultMap type="site" id="siteSysMap">
		<id column="siteid" property="siteid" />
		<result column="sitename" property="sitename" />
		<collection property="firesystypes" column="tiSysType"
			select="findSystypeById" />
	</resultMap>

	<select id="findSystypeById" resultType="firesystype">
		SELECT
		tiSysType,
		vSysdesc
		FROM
		firesystype
		WHERE
		tiSysType =#{tiSysType}
	</select>

	<select id="getFireSystemList" resultType="fireSystem">
		SELECT
		s.siteid,
		s.sitename,
		o.tiSysType,
		f.vSysdesc
		FROM
		site s
		INNER JOIN onlinefiresystem
		o ON s.siteid = o.siteid
		INNER JOIN firesystype f ON o.tiSysType =
		f.tiSysType
		WHERE
		s.orgid = #{orgid}
	</select>
	<select id="getSiteList" resultType="site">
		SELECT
		siteid,
		sitename,
		buildingaddress,
		useproperty,
		DSCS,
		JZGD,
		DSJZMJ,
		NHDJ,
		JGLX,
		DXCS,
		DXJZMJ,
		SDQK,
		ZYCCW,
		RLRS,
		QLJZ,
		east,
		west,
		south,
		north,
		xx,
		yy,
		sitetypename,
		holdthings,
		holdthingsnum,
		annalTime,
		fLongitude,
		fLatitude,
		orgid
		FROM
		site s
		WHERE
		s.orgid = #{orgid}
		limit
		#{startPos},#{pageSize}
	</select>
	<select id="getSite" resultType="site">
		SELECT
		sitename,
		buildingaddress,
		useproperty,
		DSCS,
		JZGD,
		DSJZMJ,
		NHDJ,
		JGLX,
		DXCS,
		DXJZMJ,
		SDQK,
		ZYCCW,
		RLRS,
		QLJZ,
		east,
		west,
		south,
		north,
		xx,
		yy,
		sitetypename,
		holdthings,
		holdthingsnum,
		annalTime,
		fLongitude,
		fLatitude,
		orgid
		FROM
		site s
		WHERE
		s.siteid = #{siteid}
	</select>

	<select id="getSiteName" resultType="site">
		SELECT
		siteid,
		sitename
		FROM
		site
		WHERE
		orgid = #{orgid}
	</select>
	<select id="getSiteTotalCount" resultType="int">
		SELECT
		count(*)
		FROM
		site
		WHERE
		orgid = #{orgid}
	</select>
	<select id="dataMonitorCount" resultType="int">
		SELECT
		count(*)
		FROM
			onlinefiresystem o
		inner JOIN site s ON o.siteid = s.siteid
		inner JOIN firesystype f ON o.tiSysType = f.tiSysType
		inner JOIN devicetype t ON f.tiSysType = t.tiSysType
		inner JOIN devices d ON t.iDeviceType = d.iDeviceType	
		WHERE
		o.siteid=#{siteid} 
		<if  test="tiSysType!=null and tiSysType!=''">
		and 
		o.tiSysType=#{tiSysType}
		</if>
	</select>
	<select id="getflatpicCount" resultType="int">
		SELECT
		count(*)
		FROM
		flatpic, site s
		WHERE
		s.orgid = #{orgid}
		<if test="siteid!='0'.toString() and siteid!=null">
			and s.siteid=#{siteid}
		</if>
	</select>
	<delete id="deleteSite">
		DELETE
		FROM
		site
		WHERE
		siteid = #{siteid}
	</delete>
	<delete id="deleteAppearance">
		DELETE
		FROM
		appearancepic
		WHERE
		iphotoID = #{iphotoID}
	</delete>

	<select id="getFireSystemListCount" resultType="int">
		SELECT
			count(*)
		FROM
			site s
		INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
		INNER JOIN firesystype f ON o.tiSysType = f.tiSysType
		WHERE
		s.orgid = #{orgid}

	</select>

	<select id="getFireSystemListByPage" resultType="map">
	SELECT
		o.tiSysType,
		f.vSysdesc,
		o.siteid,
		s.sitename,
		o.states,
		o.YnOnline,
		o.Remarks,
		o.SysFlatpic
	FROM
		site s
	INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
	INNER JOIN firesystype f ON o.tiSysType = f.tiSysType
		WHERE
		s.orgid = #{orgid}
		limit
		#{startPos},#{pageSize}
	</select>
	<select id="getOnlineFireSystem" resultType="map">
	SELECT
		o.tiSysType,
		f.vSysdesc,
		s.siteid,
		s.sitename,
		o.states,
		o.YnOnline,
		o.Remarks,
		o.SysFlatpic
	FROM
		site s
	INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
	INNER JOIN firesystype f ON o.tiSysType = f.tiSysType
		WHERE
		o.siteid = #{siteid}
		and
		o.tisystype=#{tisystype}
	</select>
	<select id="dataMonitor" resultType="map">
		SELECT
			t.iDeviceType,
			t.DeviceTypeName,
			f.tiSysType,
			f.vSysdesc,
			o.siteid,
			s.sitename,
			d.deviceaddress,
			d.Gatewayaddress,
			d.Sysaddress,
			d.location,
			d.dRecorddate,
			d.StateValue
		FROM
			onlinefiresystem o
		inner JOIN site s ON o.siteid = s.siteid
		inner JOIN firesystype f ON o.tiSysType = f.tiSysType
		inner JOIN devicetype t ON f.tiSysType = t.tiSysType
		inner JOIN devices d ON t.iDeviceType = d.iDeviceType
		where 	
		o.siteid=#{siteid} 
		<if  test="tiSysType!=null and tiSysType!=''">
		and 
		o.tiSysType=#{tiSysType}
		</if>
		limit
		#{startPos},#{pageSize}
	</select>

	<select id="briefsiteList" resultType="site">
		SELECT
		s.siteid,
		s.sitename
		FROM
		site s
		WHERE
		s.orgid = #{orgid}
	</select>
	<select id="getMapPoint" resultType="onlineOrg">
		SELECT
		fLongitude,
		fLatitude
		FROM
		onlineorg
		WHERE
		orgid = #{orgid}
	</select>
	<delete id="deleteorgSys">
		DELETE
		FROM
		onlinefiresystem
		WHERE
		siteid = #{siteid} and
		tiSysType=#{tiSysType}
	</delete>
	<delete id="deleteGatewaySysInfo">
		DELETE
		FROM
		gatewaysysteminfo
		WHERE
		Gatewayaddress =
		#{gatewayaddress}
	</delete>

	<delete id="deleteGateway">
		DELETE
		FROM
		gateway
		WHERE
		Gatewayaddress =
		#{gatewayaddress}
	</delete>
	<select id="gePatrolRecordByOrgCount" resultType="int">
		SELECT
		count(*)
		FROM
		gateway g
		INNER JOIN v_Gateway v on g.Gatewayaddress =
		v.Gatewayaddress
		WHERE
		v.orgid = #{orgid}

	</select>
	<select id="getTotalFlatPic" resultType="onlineOrg">
		SELECT
		bFlatpic
		FROM
		onlineorg
		WHERE
		orgid = #{orgid}
	</select>

	<select id="selectGateway" resultMap="gatewayMap">
		SELECT
			Gatewayaddress,
			Manufacturer,
			Model,
			productdate,
			setupdate,
			ControlorManufacture,
			ControlorMode,
			memo,
			ynonline,
			onlinetime
		FROM
			v_gatewayInfo
		WHERE
		orgid = #{orgid}
		limit
		#{startPos},#{pageSize}
	</select>

	<select id="gatewayInfo" resultMap="gatewayMap">
		SELECT
			Gatewayaddress,
			Manufacturer,
			Model,
			productdate,
			setupdate,
			ControlorManufacture,
			ControlorMode,
			memo,
			ynonline,
			onlinetime
		FROM
			v_gatewayInfo
		WHERE
		orgid = #{orgid}
		and 
		Gatewayaddress=#{gatewayaddress}
		
	</select>
	<resultMap type="gateway" id="gatewayMap">
		<id column="Gatewayaddress" property="gatewayaddress" />
		<result column="Manufacturer" property="manufacturer" />
		<result column="Model" property="model" />
		<result column="ControlorManufacture" property="controlorManufacture" />
		<result column="ControlorMode" property="controlorMode" />
		<result column="memo" property="memo" />
		<result column="ynonline" property="ynonline" />
		<result column="onlinetime" property="onlinetime" />
		<collection property="gatewaySystemInfoList" column="Gatewayaddress"
			select="selectVgateway" />
	</resultMap>

	<select id="selectVgateway" resultType="gatewaySystemInfo">
		SELECT
		siteid,
		sitename,
		tiSysType,
		vSysdesc,
		Sysaddress
		FROM
		v_Gateway
		WHERE
		gatewayaddress =
		#{gatewayaddress}
	</select>
	<insert id="addSite">
		INSERT INTO site (
		siteid,
		sitename,
		buildingaddress,
		useproperty,
		DSCS,
		JZGD,
		DSJZMJ,
		NHDJ,
		JGLX,
		DXCS,
		DXJZMJ,
		SDQK,
		ZYCCW,
		RLRS,
		QLJZ,
		east,
		west,
		south,
		north,
		xx,
		yy,
		sitetypename,
		holdthings,
		holdthingsnum,
		annalTime,
		fLongitude,
		fLatitude,
		orgid
		)
		VALUES
		( #{siteid},
		#{sitename},
		#{buildingaddress},
		#{useproperty},
		#{dSCS},
		#{jZGD},
		#{dSJZMJ},
		#{nHDJ},
		#{jGLX},
		#{dXCS},
		#{dXJZMJ},
		#{sDQK},
		#{zYCCW},
		#{rLRS},
		#{qLJZ},
		#{east},
		#{west},
		#{south},
		#{north},
		#{xx},
		#{yy},
		#{sitetypename},
		#{holdthings},
		#{holdthingsnum},
		#{annalTime},
		#{fLongitude},
		#{fLatitude},
		#{orgid}
		)
	</insert>
	<update id="updateSite">
		UPDATE site
		<trim prefix="set" suffixOverrides=",">
			<if test="sitename!=null and sitename!=''"> sitename =#{sitename},</if>
			<if test="buildingaddress!=null and buildingaddress!=''"> buildingaddress =#{buildingaddress},</if>
			<if test="useproperty!=null and useproperty!=''"> useproperty=#{useproperty},</if>
			<if test="dSCS!=null and dSCS!=''"> DSCS=#{dSCS},</if>
			<if test="jZGD!=null and jZGD!=''"> JZGD=#{jZGD},</if>
			<if test="dSJZMJ!=null and dSJZMJ!=''"> DSJZMJ=#{dSJZMJ},</if>
			<if test="nHDJ!=null and nHDJ!=''"> NHDJ=#{nHDJ},</if>
			<if test="jGLX!=null and jGLX!=''"> JGLX=#{jGLX},</if>
			<if test="dXCS!=null and dXCS!=''"> DXCS=#{dXCS},</if>
			<if test="dXJZMJ!=null and dXJZMJ!=''"> DXJZMJ=#{dXJZMJ},</if>
			<if test="sDQK!=null and sDQK!=''"> SDQK=#{sDQK},</if>
			<if test="zYCCW!=null and zYCCW!=''"> ZYCCW=#{zYCCW},</if>
			<if test="rLRS!=null and rLRS!=''"> RLRS=#{rLRS},</if>
			<if test="qLJZ!=null and qLJZ!=''"> QLJZ=#{qLJZ},</if>
			<if test="east!=null and east!=''"> east=#{east},</if>
			<if test="west!=null and west!=''"> west=#{west},</if>
			<if test="south!=null and south!=''"> south=#{south},</if>
			<if test="north!=null and north!=''"> north=#{north},</if>
			<if test="sitetypename!=null and sitetypename!=''"> sitetypename=#{sitetypename},</if>
			<if test="holdthings!=null and holdthings!=''"> holdthings=#{holdthings},</if>
			<if test="holdthingsnum!=null and holdthingsnum!=''"> holdthingsnum=#{holdthingsnum},</if>
			<if test="annalTime!=null and annalTime!=''"> annalTime=#{annalTime},</if>
			<if test="fLongitude!=null and fLongitude!=''"> fLongitude=#{fLongitude},</if>
			<if test="fLatitude!=null and fLatitude!=''"> fLatitude=#{fLatitude},</if>
		</trim>
		WHERE
		siteid = #{siteid} and orgid =#{orgid}
	</update>
	<insert id="addGatewaySysInfo">
		INSERT INTO gatewaysysteminfo (
		Sysaddress,
		Gatewayaddress,
		tiSysType,
		siteid
		)
		VALUES
		(
		#{sysaddress},
		#{gatewayaddress},
		#{tiSysType},
		#{siteid}
		)
	</insert>
	<insert id="addGateway">
		INSERT INTO gateway (
		Gatewayaddress,
		Manufacturer,
		Model,
		productdate,
		setupdate,
		ControlorManufacture,
		ControlorMode,
		memo
		)
		VALUES
		(
		#{gatewayaddress},
		#{manufacturer},
		#{model},
		#{productdate},
		#{setupdate},
		#{controlorManufacture},
		#{controlorMode},
		#{memo}
		)
	</insert>
	<insert id="updateGateway">
		INSERT INTO gateway (
		Manufacturer,
		Model,
		Gatewayaddress,
		productdate,
		setupdate,
		ControlorManufacture,
		ControlorMode,
		memo
		)
		VALUES
		(
		#{manufacturer} ,
		#{model} ,
		#{gatewayaddress},
		#{productdate} ,
		#{setupdate} ,
		#{controlorManufacture} ,
		#{controlorMode} ,
		#{memo}
		)
	</insert>
	<select id="findGatewayaddressExist" resultType="int">
		SELECT
		count(*)
		FROM
		gateway
		WHERE
		Gatewayaddress = #{gatewayaddress}
	</select>
	<select id="getAppearancepic" resultType="appearancepic">
		SELECT
		iphotoID,
		vPhotoname,
		dRecordDate,
		Picpath,
		ExteriorInfo,
		siteid
		FROM
		appearancepic
		WHERE
		siteid = #{siteid}
	</select>
	<update id="updateGatewaySame">
		UPDATE gateway
		SET 
		<if test="manufacturer!=null and manufacturer!=''">
		Manufacturer = #{manufacturer},
		</if>
		<if test="model!=null and model!=''">
		Model = #{model} ,
		</if>
		<if test="productdate!=null and productdate!=''">
		productdate = #{productdate} ,
		</if>
		<if test="setupdate!=null and setupdate!=''">
		setupdate =#{setupdate} ,</if>
		<if test="controlorManufacture!=null and controlorManufacture!=''">
		ControlorManufacture = #{controlorManufacture} ,
		</if>
		<if test="controlorMode!=null and controlorMode!=''">
		ControlorMode = #{controlorMode} ,
		</if>
		<if test="memo!=null and memo!=''">
		memo = #{memo}
		</if>
		WHERE
		Gatewayaddress =#{gatewayaddress}
	</update>
	<insert id="updateGatewaySysInfo">
		INSERT INTO
		gatewaysysteminfo
		(siteid,tiSysType,Gatewayaddress,Sysaddress)
		values
		(#{siteid},#{tiSysType},#{gatewayaddress}, #{sysaddress} )
	</insert>

	<select id="getflatpicListPage" resultType="flatpic">
		SELECT
		s.siteid siteid,
		sitename sitename,
		cFlatPic cFlatPic,
		floornum
		floornum,
		dRecordSet
		dRecordSet,
		imFlatPic imFlatPic
		FROM
		site s,
		flatpic f
		WHERE
		s.orgid = #{orgid}
		<if test="siteid!='0'.toString() and siteid!=null">
			AND
			s.siteid =#{siteid}
		</if>
		limit
		#{startPos},#{pageSize}

	</select>

	<delete id="deleteflatPic">
		DELETE
		FROM
		flatpic
		WHERE
		cFlatPic = #{cFlatPic}
	</delete>
	<delete id="deleteDevices">
		DELETE
		FROM
		devices
		WHERE
		deviceaddress =
		#{deviceaddress} and
		Sysaddress = #{sysaddress} and
		Gatewayaddress =
		#{gatewayaddress}
	</delete>
	<select id="findMaxDeviceNo" resultType="string">
		SELECT
		max(DeviceNo)
		FROM
		devices
		WHERE
		cFlatPic = #{cFlatPic}
	</select>

	<insert id="addDevices">
		INSERT INTO devices (
		DeviceNo,
		deviceaddress,
		Road,
		Address,
		sysaddress,
		gatewayaddress,
		vdesc,
		fPositionX,
		fPositionY,
		location,
		Manufacture,
		Model,
		ProductDate,
		expdate,
		AddTime,
		memo,
		cFlatPic,
		iDeviceType
		)
		VALUES
		(
		#{deviceNo} ,
		#{deviceaddress} ,
		#{road} ,
		#{address},
		#{sysaddress},
		#{gatewayaddress},
		#{vdesc} ,
		#{fPositionX} ,
		#{fPositionY} ,
		#{location} ,
		#{manufacture} ,
		#{model} ,
		#{productDate} ,
		#{expdate} ,
		#{addTime} ,
		#{memo} ,
		#{cFlatPic} ,
		#{iDeviceType}
		)
	</insert>
	<update id="updateDevices">
		UPDATE devices
		SET DeviceNo = #{deviceNo} ,
		Road =
		#{road} ,
		Address = #{address} ,
		vdesc = #{vdesc} ,
		fPositionX =
		#{fPositionX} ,
		fPositionY = #{fPositionY} ,
		location = #{location} ,
		Manufacture = #{manufacture} ,
		Model = #{model} ,
		ProductDate =
		#{productDate} ,
		expdate = #{expdate} ,
		AddTime = #{addTime} ,
		memo =
		#{memo } ,
		cFlatPic = #{cFlatPic} ,
		iDeviceType = #{iDeviceType}
		WHERE
		deviceaddress = #{deviceaddress} and
		Sysaddress = #{sysaddress} and
		Gatewayaddress = #{gatewayaddress}
	</update>
	<delete id="deleteDevicesBycflatPic">
		DELETE
		FROM
		devices
		WHERE
		cFlatPic = #{cFlatPic}
	</delete>
	<select id="selectDevicesListCount" resultType="int">
		SELECT
		count(*)
		FROM
		devices
		where
		cFlatPic = #{cFlatPic}
		<if test="iDeviceType!='0'.toString()">
			AND
			iDeviceType = #{iDeviceType}
		</if>
		<if test="deviceaddress!='0'.toString() ">
			AND
			deviceaddress = #{deviceaddress}
		</if>
	</select>
	<select id="selectDevicesLists" resultType="deviceList">
		SELECT
		c.deviceaddress deviceaddress,
		c.sysaddress sysaddress,
		c.gatewayaddress gatewayaddress,
		c.fPositionX fPositionX,
		c.fPositionY
		fPositionY,
		c.location location,
		c.DeviceNo deviceNo,
		c.iDeviceType
		iDeviceType,
		f.imFlatPic imFlatPic,
		d.DeviceTypeName deviceTypeName
		FROM
		devices c
		INNER JOIN flatpic f ON c.cFlatPic = f.cFlatPic
		INNER JOIN
		devicetype d ON c.iDeviceType = d.iDeviceType
		WHERE
		c.cFlatPic =
		#{cFlatPic}
		<if test="iDeviceType!='0'.toString()">
			AND
			c.iDeviceType = #{iDeviceType}
		</if>
		<if test="deviceaddress!='0'.toString() ">
			AND
			c.deviceaddress = #{deviceaddress}
		</if>
	</select>
	<select id="selectDeviceDetail" resultType="devices">
		SELECT
		deviceaddress,
		sysaddress,
		gatewayaddress,
		vdesc,
		fPositionX,
		fPositionY,
		location,
		Manufacture manufacture,
		Model model,
		ProductDate productDate,
		expdate
		expdate,
		AddTime addTime,
		memo memo,
		DeviceNo deviceNo,
		cFlatPic cFlatPic,
		c.iDeviceType iDeviceType,
		StateValue stateValue,
		StateTime stateTime,
		d.DeviceTypeName deviceTypeName
		FROM
		devices c
		INNER JOIN devicetype d ON
		c.iDeviceType = d.iDeviceType
		WHERE
		c.Gatewayaddress = #{gatewayaddress}
		AND c.Sysaddress = #{sysaddress}
		AND c.deviceaddress = #{deviceaddress}

	</select>
	<!-- <update id="updateMarkPoint"> UPDATE devices SET fPositionX = #{fPositionX}, 
		fPositionY = #{fPositionY} WHERE deviceaddress = #{deviceaddress} AND sysaddress 
		= #{sysaddress} AND gatewayaddress = #{gatewayaddress} </update> <select 
		id="returnMarkPoint" resultType="devices"> SELECT c.deviceaddress, c.sysaddress, 
		c.gatewayaddress, c.DeviceNo, d.iDeviceType iDeviceType, d.DeviceTypeName 
		FROM devices c, devicetype d WHERE c.cFlatPic = #{cFlatPic} AND c.DeviceNo 
		= #{deviceNo} </select> <select id="findMarkPoint" resultType="devices"> 
		SELECT c.deviceaddress, c.sysaddress, c.gatewayaddress, c.DeviceNo, d.iDeviceType 
		iDeviceType, d.DeviceTypeName FROM devices c, devicetype d WHERE deviceaddress 
		= #{deviceaddress} AND sysaddress = #{sysaddress} AND gatewayaddress = #{gatewayaddress} 
		</select> <select id="getFirstDevice" resultType="devices"> SELECT c.deviceaddress, 
		c.sysaddress, c.gatewayaddress, c.DeviceNo, c.iDeviceType, d.DeviceTypeName 
		FROM devices c, devicetype d WHERE c.cFlatPic = #{cFlatPic} </select> <select 
		id="getOneDevice" resultType="devices"> SELECT c.deviceaddress, c.sysaddress, 
		c.gatewayaddress, c.DeviceNo FROM devices c WHERE c.cFlatPic = #{cFlatPic} 
		AND c.DeviceNo = #{deviceNo} </select> -->
	<select id="findMaxBack8" resultType="string">
		SELECT

		max(CONVERT (RIGHT(s.siteid, 8), SIGNED)) maxsiteid

		FROM
		site s
		WHERE
		s.orgid = #{orgid}
	</select>


</mapper>