<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.OrginfoMapper">

	<select id="getOnlineOrg" resultType="onlineOrg">
		SELECT
		orgcode,
		orgname,
		vAddress,
		OrganType,
		vNamelegalperson,
		otherthings,
		YnImportant,
		SuperiorOrg,
		cZip,
		vTel,
		fax,
		`E-Mail` eMail,
		howmanypeople,
		souyouzhi,
		SetupDate,
		realtymoney,
		ipersonnum,
		fAreanum,
		fBuildingarea,
		GasType,
		howmanyfireman,
		howmanyexit,
		howmanystair,
		howmanylane,
		howmanyelevator,
		lanelocation,
		vfireroomtel,
		escapefloor,
		escapebuildingarea,
		escapelocation,
		neareast,
		nearsouth,
		nearwest,
		nearnorth,
		AutoFireFacility,
		bFlatpic,
		dRecordDate,
		managegrade,
		NetworkStatus,
		NetworkTime,
		ApproveState,
		ApproveTime,
		ApproveMan,
		AreaId,
		ManagerOrgID
		FROM
		onlineorg
		WHERE
		OrgID = #{orgID}
	</select>

	<update id="updateOnlineOrg">
		UPDATE onlineorg
		SET orgcode = #{orgcode} ,
		orgname = #{orgname} ,
		vAddress = #{vAddress} ,
		OrganType = #{organType} ,
		vNamelegalperson = #{vNamelegalperson} ,
		otherthings = #{otherthings} ,
		YnImportant = #{ynImportant} ,
		SuperiorOrg = #{superiorOrg} ,
		cZip = #{cZip} ,
		vTel = #{vTel} ,
		fax = #{fax} ,
		`E-Mail` = #{eMail} ,
		howmanypeople = #{howmanypeople} ,
		souyouzhi = #{souyouzhi} ,
		SetupDate = #{setupDate} ,
		realtymoney = #{realtymoney} ,
		ipersonnum = #{ipersonnum} ,
		fAreanum = #{fAreanum} ,
		fBuildingarea = #{fBuildingarea} ,
		GasType = #{gasType} ,
		howmanyfireman = #{howmanyfireman} ,
		howmanyexit = #{howmanyexit} ,
		howmanystair = #{howmanystair} ,
		howmanylane = #{howmanylane} ,
		howmanyelevator = #{howmanyelevator} ,
		lanelocation = #{lanelocation} ,
		vfireroomtel = #{vfireroomtel} ,
		escapefloor = #{escapefloor} ,
		escapebuildingarea = #{escapebuildingarea} ,
		escapelocation = #{escapelocation} ,
		neareast = #{neareast} ,
		nearsouth = #{nearsouth} ,
		nearwest = #{nearwest} ,
		nearnorth = #{nearnorth} ,
		AutoFireFacility = #{autoFireFacility} ,
		bFlatpic = #{bFlatpic} ,
		dRecordDate = #{dRecordDate} ,
		managegrade = #{managegrade} ,
		NetworkStatus = #{networkStatus},
		NetworkTime = #{networkTime},
		ApproveState = #{approveState},
		ApproveTime = #{approveTime},
		ApproveMan = #{approveMan},
		AreaId = #{areaId},
		ManagerOrgID = #{managerOrgID}
		WHERE
		OrgID = #{orgID}
	</update>
	<select id="getBusinessLicence" resultType="businessLicence">
	SELECT
		LicenceCode,
		ConpanyName,
		CompanyType,
		CompanyAddress,
		CompanyRegister,
		RegistMoney,
		BuildTime,
		BusinessEndTime,
		BusinessScope,
		AuditingDepartment,
		RegistTime,
		PictureUrl,
		orgid
	FROM
		businesslicence
	WHERE
		orgid = #{orgid}
	</select>
	
	<select id="getFireSystemList" resultType="fireSystem">
	SELECT
		s.siteid,
		s.sitename,
		o.tiSysType,
		f.vSysdesc
	FROM
		site s
	INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
	INNER JOIN firesystype f ON o.tiSysType = f.tiSysType
	WHERE
		s.orgid = #{orgid}
	</select>
	
	<select id="getFireSystemListCount" resultType="int">
	SELECT
		count(*)
	FROM
		site s
	INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
	INNER JOIN firesystype f ON o.tiSysType = f.tiSysType
	WHERE
		s.orgid = #{orgid}
	
	</select>
	
	<select id="getFireSystemListByPage" resultType="fireSystem">
	SELECT
		s.siteid,
		s.sitename,
		o.tiSysType,
		f.vSysdesc
	FROM
		site s
	INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
	INNER JOIN firesystype f ON o.tiSysType = f.tiSysType
	WHERE
		s.orgid = #{orgid}
	limit
		#{startPos},#{pageSize}
	</select>
	
	<select id="briefsiteList" resultType="site">
	SELECT
		s.siteid,
		s.sitename
	FROM
		site s
	WHERE
		s.orgid = #{orgid}

	</select>
	<delete id="deleteorgSys">
	 DELETE
	 FROM
		onlinefiresystem
	 WHERE
		siteid = #{siteid} and tiSysType=#{tiSysType}
	</delete>
	<delete id="deleteGatewaySysInfo">
	DELETE
	FROM
		gatewaysysteminfo
	WHERE
		Gatewayaddress  = #{gatewayaddress}
	</delete>	
	
	<delete id="deleteGateway">
	DELETE
	FROM
		gateway
	WHERE
		Gatewayaddress = #{gatewayaddress}
	</delete>
	<select id="gePatrolRecordByOrgCount" resultType="int">
	SELECT
	count(*)
	FROM
		gateway g
	INNER JOIN v_Gateway v on g.Gatewayaddress = v.Gatewayaddress
	WHERE
		v.orgid =  #{orgid}
	
	</select>
	
	<select id="selectGateway" resultMap="gatewayMap">
	SELECT
		g.Gatewayaddress Gatewayaddress,
		Manufacturer,
		Model,
		productdate,
		setupdate,
		ControlorManufacture,
		ControlorMode,
		memo,
		ynonline,
		onlinetime
	FROM
		gateway g
	INNER JOIN v_Gateway v ON g.Gatewayaddress = v.Gatewayaddress
	WHERE
		v.orgid = #{orgid}
	limit
		#{startPos},#{pageSize}
	</select>
	<resultMap type="gateway" id="gatewayMap">
	    <id column="siteid" property="siteid" />
		<result column="sitename" property="sitename" />
		<result column="tiSysType" property="tiSysType" />
		<result column="vSysdesc" property="vSysdesc" />
		<result column="Sysaddress" property="Sysaddress" />
		<collection property="gatewaySystemInfoList" column="Gatewayaddress" select="selectVgateway" />
	</resultMap>
	
	<select id="selectVgateway" resultType="gatewaySystemInfo">
	SELECT
		siteid,
		sitename,
		tiSysType,
		vSysdesc,
		Sysaddress
	FROM
		v_Gateway
	WHERE
		gatewayaddress = #{gatewayaddress}
	</select>
	<insert id="addGatewaySysInfo">
	INSERT INTO gatewaysysteminfo (
		Sysaddress,
		Gatewayaddress,
		tiSysType,
		siteid
	)
	VALUES
		(
			#{sysaddress},
			#{gatewayaddress},
			#{tiSysType},
			#{siteid}
		)
	</insert>
	<insert id="addGateway">
	INSERT INTO gateway (
		Gatewayaddress,
		Manufacturer,
		Model,
		productdate,
		setupdate,
		ControlorManufacture,
		ControlorMode,
		memo
	)
	VALUES
		(
			#{gatewayaddress},
			#{manufacturer},
			#{model},
			#{productdate},
			#{setupdate},
			#{controlorManufacture},
			#{controlorMode},
			#{memo}
		)
	</insert>
	
</mapper>