<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.PatrolMapper">
	<!-- <resultMap id=" " type=" "> <id column=" " property=" "/> <result column=" 
		" property=" "/> <result column=" " property=" "/> <result column=" " property=" 
		"/> <result column=" " property=" "/> <result column=" " property=" "/> <result 
		column=" " property=" "/> <result column=" " property=" "/> </resultMap> -->

	<select id="gePatrolRecordByOrgCount" resultType="int">
		SELECT
		count(*)
		FROM
		(
		SELECT
		ul.UserCheckId,
		ul.UserCheckTime,
		ul.OrgUserId,
		ul.OrgManagerId,
		ul.SubmitTime,
		ul.Remarks,
		ul.SubmitStatet,
		ui.UserCheckResult
		FROM
		uerchecklist ul
		INNER JOIN usercheckinfo ui ON
		ul.userCheckId = ui.userCheckId
		<if test="startDate !=null and startDate !='' and endTime!=null and endTime!=''">
		and
		ul.SubmitTime BETWEEN #{startDate}
		and #{endTime}
		</if>
		WHERE
		ul.orgid = #{orgID}
		) n

	</select>

	<select id="getPatrolRecordByOrg" resultMap="patrolRecordMap">
		SELECT
			ul.UserCheckId,
			ul.UserCheckTime,
			ul.OrgUserId orgUser,
			ul.OrgManagerId orgManager,
			ul.SubmitStatet,
			ul.SubmitTime,
			ul.Remarks
		FROM
			uerchecklist ul
		INNER JOIN usercheckinfo ui ON ul.userCheckId = ui.userCheckId 
		WHERE
		ul.orgid = #{orgID} 
		<if test="startDate !=null and startDate !='' and endTime!=null and endTime!=''">
		and
		ul.UserCheckTime BETWEEN #{startDate} and #{endTime}
		</if>
		limit
		#{startPos},#{pageSize}
	</select>

	<resultMap type="patrolRecord" id="patrolRecordMap">
		<id column="UserCheckId" property="userCheckId" />
		<result column="UserCheckTime" property="userCheckTime" />
		<result column="OrgUser" property="orgUser" />
		<result column="OrgManager" property="orgManager" />
		<result column="SubmitTime" property="submitTime" />
		<result column="Remarks" property="remarks" />
		<result column="SubmitStatet" property="submitStatet" />
		<result column="UserCheckResult" property="userCheckResult" />
	</resultMap>
	<delete id="deleteUserCheckpic">
		DELETE
		FROM
		usercheckpic
		WHERE
		UserCheckId =
		#{userCheckId}
	</delete>

	<select id="findUserCheckpic" resultType="string">
		SELECT
		PicPath
		FROM
		usercheckpic
		WHERE
		UserCheckId = #{userCheckId}
	</select>

	<delete id="deleteWBdevicerepairinfo_patrol">
		DELETE
		FROM
		wbdevicerepairinfo_patrol
		WHERE
		UserCheckId =
		#{userCheckId};
	</delete>
	<delete id="deleteUserCheckinfo">
		DELETE
		FROM
		usercheckinfo
		WHERE
		UserCheckId =
		#{userCheckId};
	</delete>
	<delete id="deleteUserCheckList">
		DELETE
		FROM
		uerchecklist
		WHERE
		UserCheckId =
		#{userCheckId};
	</delete>

	<insert id="addUserCheckList">
		insert into uerchecklist(UserCheckId,orgid,
		UserCheckTime,OrgUserId,OrgManagerId,SubmitTime)
		values
		(#{userCheckId},#{orgID},#{userCheckTime},#{orgUser},#{orgManagerId},#{submitTime})
	</insert>


	<insert id="addUserCheckInfoByOrgid">
		INSERT INTO usercheckinfo (UserCheckId, ProjectId)
		VALUES
		(
		#{userCheckId},
		(
		SELECT
		u.ProjectId
		FROM
		usercheckcontent u
		WHERE
		orgid = #{orgID}
		)
		)

	</insert>
	<update id="updateUserCheckList">
		UPDATE uerchecklist
		<trim prefix="set" suffixOverrides=",">
			<if test="userCheckTime!=null and userCheckTime!=''"> UserCheckTime =#{userCheckTime},</if>
		</trim>
		WHERE
		UserCheckId = #{userCheckId}
	</update>
	<select id="findNullUserCheckInfo" resultType="userCheckInfo">
		SELECT
		ui.UserCheckId,
		ui.ProjectId,
		ui.UserCheckResult,
		ui.FaultShow,
		ui.YnHanding,
		ui.Handingimmediately
		FROM
		uerchecklist ul
		INNER JOIN
		usercheckinfo ui ON ul.UserCheckId = ui.UserCheckId
		WHERE
		ul.UserCheckId = #{userCheckId}
	</select>
	<update id="updateSubmitState">
		UPDATE uerchecklist 
		<trim prefix="set" suffixOverrides=",">
			<if test="submitState!=null and submitState!=''"> SubmitStatet = #{submitState},</if>
		</trim>
		WHERE
		q.UserCheckId = #{userCheckId}
	</update>

	<select id="fireSafetyCheckCount" resultType="int">
		SELECT
		count(*)
		FROM
		firesafetycheck
		WHERE
		orgid =#{orgid} 
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		CheckTime BETWEEN #{startTime}
		and #{endTime}
		</if>
	</select>
	<select id="getfireSafetyCheckByOrgid" resultMap="fireSafetyCheckMap">
		SELECT
		FireSafetyCheckID,
		CheckTime,
		checkposite,
		Department,
		Problem,
		handing,
		attendperson,
		CheckedDepartment,
		RecordMan,
		SafetyMan
		FROM
		firesafetycheck
		WHERE
		orgid = #{orgid} 
		<if test="startTime !=null and startTime !='' and endTime!=null and endTime!=''">
		and
		CheckTime BETWEEN #{startTime} and #{endTime}
		</if>
		LIMIT #{startPos},#{pageSize}
	</select>


	<resultMap id="fireSafetyCheckMap" type="fireSafetyCheck">
		<id column="FireSafetyCheckID" property="fireSafetyCheckID" />
		<result column="CheckTime" property="checkTime" />
		<result column="checkposite" property="checkposite" />
		<result column="Department" property="department" />
		<result column="Problem" property="problem" />
		<result column="handing" property="handing" />
		<result column="attendperson" property="attendperson" />
		<result column="CheckedDepartment" property="checkedDepartment" />
		<result column="RecordMan" property="recordMan" />
		<result column="SafetyMan" property="safetyMan" />
	</resultMap>

	<select id="fireSafetyCheckDetail" resultType="fireSafetyCheck">
		SELECT
		FireSafetyCheckID,
		CheckTime,
		checkposite,
		Department,
		Problem,
		handing,
		attendperson,
		CheckedDepartment,
		RecordMan,
		SafetyMan,
		orgid
		FROM
		firesafetycheck
		WHERE
		fireSafetyCheckID = #{fireSafetyCheckID}
	</select>
	<update id="editFireSafetyCheck" parameterType="fireSafetyCheck">
		update firesafetycheck
		<trim prefix="set" suffixOverrides=",">
			<if test="checkTime!=null and checkTime!=''">CheckTime=#{checkTime},</if>
			<if test="checkposite!=null and checkposite!=''">checkposite=#{checkposite},</if>
			<if test="department!=null and department!=''">Department=#{department},</if>
			<if test="problem!=null and problem!=''">Problem=#{problem},</if>
			<if test="handing!=null and handing!=''">handing=#{handing},</if>
			<if test="attendperson!=null and attendperson!=''">attendperson=#{attendperson},</if>
			<if test="checkedDepartment!=null and checkedDepartment!=''">CheckedDepartment=#{checkedDepartment},</if>
			<if test="recordMan!=null and recordMan!=''">RecordMan=#{recordMan},</if>
			<if test="safetyMan!=null and safetyMan!=''">SafetyMan=#{safetyMan},</if>
		</trim>
		WHERE
		orgid = #{orgid} 
		and
		FireSafetyCheckID=#{fireSafetyCheckID}
	</update>
	<insert id="addFireSafetyCheck" parameterType="fireSafetyCheck">
		INSERT INTO
		firesafetycheck (
		FireSafetyCheckID,
		CheckTime,
		checkposite,
		Department,
		Problem,
		handing,
		attendperson,
		CheckedDepartment,
		RecordMan,
		SafetyMan,
		orgid
		)
		VALUES
		(
		#{fireSafetyCheckID},
		#{checkTime},
		#{checkposite},
		#{department},
		#{problem},
		#{handing},
		#{attendperson},
		#{checkedDepartment},
		#{recordMan},
		#{safetyMan},
		#{orgid}
		)

	</insert>
	<select id="findFireSafetyCheckID" resultType="int">
		SELECT
		count(*)
		FROM
		firesafetycheck
		WHERE
		fireSafetyCheckID =#{fireSafetyCheckID};
	</select>
	<delete id="deleteFireSafetyCheck">
		DELETE
		FROM
		firesafetycheck
		WHERE
		fireSafetyCheckID =#{fireSafetyCheckID};
	</delete>
	<delete id="deleteFireSafetyCheckByOrgid">
		DELETE
		FROM
		firesafetycheck
		WHERE
		orgid =#{orgid}
	</delete>
	<!-- getPatrolTotalCount getPatrolTotal -->

	<select id="getPatrolDetail" resultType="patrolDetail">
		SELECT
		i.UserCheckId userCheckId,
		i.projectid projectid,
		i.UserCheckResult
		userCheckResult,
		i.FaultShow faultShow,
		i.YnHanding ynHanding,
		i.Handingimmediately handingimmediately,
		c.ProjectContent
		projectContent,
		f.vSysdesc vSysdesc
		FROM
		usercheckinfo i
		INNER JOIN usercheckprojectcontent c ON i.ProjectId = c.ProjectId
		INNER JOIN firesystype f ON c.tiSysType = f.tiSysType
		where i.UserCheckId =#{userCheckId}
		
	</select>
	<select id="getPatrolPic" resultType="userCheckPic">
		SELECT
		PicID,
		PicType,
		PicPath,
		UploadTime
		FROM
		usercheckpic
		WHERE
		UserCheckId = #{userCheckId}
	</select>
	<select id="getCheckRecordBase" resultMap="checkRecordMap">
		SELECT
			UserCheckId,
	      	UserCheckTime,
	      	OrgUserId,
	      	OrgManagerId,
	      	orgid
		FROM
			uerchecklist 
		WHERE
			UserCheckId = #{userCheckId}
	</select>
	<resultMap type="userCheckList" id="checkRecordMap">
		<id column="siteid" property="siteid" />
		<result column="sitename" property="sitename" />
		<collection property="sites" column="orgid"
			select="com.hhgx.soft.mappers.OrginfoMapper.getSiteName" />
	</resultMap>
	<select id="getCheckRecord" resultType="map">
	SELECT
		s.siteid,
		s.sitename,
		f.tiSysType,
		f.vSysdesc,
		ui.ProjectId,
		u.ProjectContent,
		ui.UserCheckResult,
		ui.FaultShow,
		ui.YnHanding,
		ui.Handingimmediately,
		up.PicID,
		up.PicPath
	FROM
		site s
	INNER JOIN onlinefiresystem o ON s.siteid = o.siteid
	INNER JOIN firesystype f ON o.tiSysType = f.tiSysType
	INNER JOIN uerchecklist ul ON s.orgid = ul.orgid
	LEFT JOIN usercheckinfo ui ON ul.UserCheckId = ui.UserCheckId
	LEFT JOIN usercheckprojectcontent u ON ui.ProjectId = u.ProjectId
	LEFT JOIN usercheckpic up ON ui.ProjectId = up.ProjectId
	AND ui.UserCheckId = up.UserCheckId
	WHERE
		ul.UserCheckId = '341c87a85533499a88413a95f0268524'
	<if test="siteid !='all'.toString() and siteid!=null and siteid !=''">
	AND s.siteid =#{siteid}
	</if>
	</select>
	<select id="getPatrolProject" resultMap="patrolProjectMap">
		SELECT
		f.tiSysType,
		f.vSysdesc
		FROM
		usercheckcontent u
		INNER JOIN usercheckprojectcontent c ON u.ProjectId = c.ProjectId
		INNER JOIN firesystype f ON c.tiSysType = f.tiSysType
		<if test="orgid != null and orgid != ''">
		WHERE
		orgid = #{orgid}
		</if>
		
		
	</select>
	<resultMap type="patrolProject" id="patrolProjectMap">
		<id column="tiSysType" property="tiSysType" />
		<result column="vSysdesc" property="vSysdesc" />
		<collection property="userCheckProjectContentList" column="tiSysType"
			select="selectUserCheckProjectContentById" />
	</resultMap>

	<select id="selectUserCheckProjectContentById" resultType="userCheckProjectContent">
		SELECT
		*
		FROM
		usercheckprojectcontent
		WHERE
		tiSysType = #{tiSysType}

	</select>
	<insert id="addorgSys">
	INSERT INTO onlinefiresystem (
		siteid,
		tiSysType,
		states,
		YnOnline,
		Remarks
	)
	VALUES
		(
			#{siteid},
			#{tiSysType},
			#{states},
			#{ynOnline},
			#{remarks}
		)	
	</insert>
</mapper>