<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgx.soft.mappers.UsersMapper">
	<delete id="deleteUser">
		DELETE
		FROM
		users
		WHERE
        UserID = #{userid}
	</delete>


	<select id="getUser" resultType="user">
SELECT
	Userid userID,
account ,
	RealName realName,
	mobilephone,
	tel,
	Email,
	`Status` status,
	Remark,
	u.UserTypeID userTypeID,
	UserTypeName
FROM
	users u
INNER JOIN usertype ut ON u.UserTypeID = ut.UserTypeID
WHERE
	u.UserID = #{userid}
	</select>

	<select id="getPeopleType" resultType="map">
	SELECT
		PeopleTypeName,
		OrderNo
	FROM
		peopletype
	</select>
	<select id="getUserType" resultType="map">
	SELECT
		u.UserTypeID,
		u.UserTypeName,
		u.UserBelongTo
	FROM
		usertype u
	WHERE
		u.UserBelongTo = #{userBelongTo}
	</select>

	<select id="isBindPhone" resultType="map">
	SELECT
		mobilephone
	FROM
		users
	WHERE
		UserID= #{userid}
	</select>
	<select id="getUserPic" resultType="string">
		SELECT
			HeaderPic
		FROM
			users
		WHERE
		UserID= #{userid}
	</select>




	<select id="selectPeopleCount" resultType="int">
		SELECT
			count(*)
		FROM
			people 
		where
		 orgid= #{orgid} 
		<if test="peopleType!='all'.toString() and peopleType != null and peopleType != ''">
		and  PeopleTypeName =#{peopleType}	
		</if>
		<if test="peopleName!='null'.toString() and peopleName != null and peopleName != ''">
		and PeopleName = #{peopleName}	 
		</if>
		
	</select>

	<select id="selectPeople" resultType="map">
	SELECT
		PeopleNo,
		PeopleName,
		sex,
		job,
		department,
		YnTraining,
		certificateID,
		PeopleTypeName
	FROM
		people
		where
		 orgid= #{orgid} 
		<if test="peopleType!='all'.toString() and peopleType != null and peopleType != ''">
		and  PeopleTypeName =#{peopleType}	
		</if>
		<if test="peopleName!='null'.toString() and peopleName != null and peopleName != ''">
		and PeopleName = #{peopleName}	 
		</if>
			LIMIT #{startPos},#{pageSize}
		
	</select>
	<select id="peopleDetail" resultType="map">
	SELECT
	PeopleNo,
	identification,
	PeopleName,
	sex,
	job,
	DATE_FORMAT(birthday, '%Y/%m/%d') birthday,
	education,
	tel,
	department,
	DATE_FORMAT(WorkBeginDate, '%Y/%m/%d') WorkBeginDate,
	YnTraining,
	DATE_FORMAT(trainingTime, '%Y/%m/%d %h:%m:%s') trainingTime,
	trainingTime,
	certificateID,
	TypeandGrade,
	TheoryExamScore,
	TechExamScore,
	totalscore,
	issueorg,
	DATE_FORMAT(issuedate, '%Y/%m/%d') issuedate,
	issuedate,
	DATE_FORMAT(GetDate, '%Y/%m/%d') GetDate,
	YnEscapeLeader,
	OnDutyArea,
	OrderNum,
	PeoplePicPath,
	CertificatePicPath,
	orgid,
	PeopleTypeName,
	JobTypeName
FROM
	people
	where
		PeopleNo= #{peopleNo} 
		
	</select>
	
	
	
	<select id="isCorrectPwd" resultType="int">
		SELECT
			count(*)
		FROM
			users 
		where UserID= #{userid} and password =#{pwd}
	</select>
	<select id="isRightPhone" resultType="int">
		SELECT
			count(*)
		FROM
			users 
		where UserID= #{userid} and mobilephone =#{phone}
	</select>
	<update id="unBindPhone">
	UPDATE users
	SET mobilephone = ''
	WHERE
		Userid =#{userid}
	</update>
	<update id="updatePassword">
		UPDATE users
		SET 
	    password=#{pwd}
		WHERE
		Userid= #{userid}
	</update>
	
	<select id="existUserId" resultType="int">
		SELECT
			count(*)
		FROM
			users 
		where UserID= #{userid} and mobilephone =#{phone}
	</select>
	<select id="existUserName" resultType="int">
		SELECT
			count(*)
		FROM
			users 
		where account = #{userName}
	</select>
	
	<select id="getUserListCount" resultType="int">
		SELECT
			count(*)
		FROM
			users u
		INNER JOIN usertype ut ON ut.UserTypeID = u.UserTypeID
		WHERE
		u.UserBelongTo = #{userBelongTo}	
		<if test="orgid!='null'.toString() and orgid != null and orgid != ''">
		AND u.orgid = #{orgid}</if>
		<if test="maintenanceId!='null'.toString() and maintenanceId != null and maintenanceId != ''">
		AND u.MaintenanceId = #{maintenanceId}</if>
		<if test="userName!='null'.toString() and  userName != null and userName != ''">
		and RealName LIKE CONCAT('%',#{userName}, '%')
		</if>
	</select>

	<select id="getUserList" resultType="users">
		SELECT
			u.Userid userid,
			u.account,
			u.RealName,
			u.mobilephone,
			u.tel,
			u.`Status`,
			ut.UserTypeName
		FROM
			users u
		INNER JOIN usertype ut ON ut.UserTypeID = u.UserTypeID
		WHERE
		u.UserBelongTo = #{userBelongTo}	
		<if test="orgid!='null'.toString() and orgid != null and orgid != ''">
		AND u.orgid = #{orgid}</if>
		<if test="maintenanceId!='null'.toString() and maintenanceId != null and maintenanceId != ''">
		AND u.MaintenanceId = #{maintenanceId}</if>
		<if test="userName!='null'.toString() and  userName != null and userName != ''">
		and RealName LIKE CONCAT('%',#{userName}, '%')
		</if>
		LIMIT #{startPos},#{pageSize}
	</select>
	<insert id="addUser">
	INSERT INTO users (
		UserID,
		account,
		PASSWORD,
		RealName,
		mobilephone,
		tel,
		Email,
		STATUS,
		Remark,
		UserTypeID,
		UserBelongTo,
		orgid,
		MaintenanceId
	)
	VALUES
		(
		#{userID},
		#{account},
		#{password},
		#{realName},
		#{mobilephone},
		#{tel},
		#{email},
		#{status},
		#{remark},
		#{userTypeID},
		#{userBelongTo},
		#{orgid},
		#{maintenanceId}
	)
	</insert>
	<update id="updateUser">
		UPDATE users
		SET 
	    RealName=#{realName},
	    mobilephone=#{mobilephone},
	    tel=#{tel},
	    Email=#{email},
	    `Status`= #{status},
	    Remark = #{remark},
	    UserTypeID=#{userTypeID}
		WHERE
		Userid= #{userid}
	</update>
</mapper>