
.Pro_page{
    height: 100%;
    width: 100%;
    padding: 0px;
}
.Pro_page>.row{
    margin: 0px;
}

.Pro_tab{
    width: 100%;
    height: 50px;
    background-color: #EBEEF0;
}
.Pro_tab>div{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: #D8D8D8;
    cursor: pointer;
}

#Pro_form_left{
    margin: 10px 0px;
}
#Pro_form_left>div{
    display: inline-table;
    width: 150px;
    vertical-align: middle;
    margin: 0px 10px;
}
#Pro_form_left>div>input{
    background-color: white;
}
#Pro_form_left>div>span{
    background-color: white;
}

#Pro_form_right{
    float: right;
    text-align: right;
}
#automatic>input{
    vertical-align: middle;
}
#automatic>span{
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
}

#matic{
    margin-left: 10px;
    color: #5E9DE6;
    border-color: #5E9DE6;
}

.handle_btn{
    border: none;
    background-color: transparent;
    color: #5E9DE6;
}

.Fire_title{
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 0 15px 0;
    font-weight: bold;
}

.Fire_time{
    margin-bottom: 10px;
}
.Fire_time>label{
    margin-right: 30px;
}





