.operateChoose{
    margin-top: 30px;
}
#fhdw{
    margin-left: 3%;
    width: 60%;
}
#chooseFireCompany{
    display: inline-block;
    width: 15%;
    color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);
}
#Assessment{
    margin-left: 3%;
    width: 80px;
    color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);
}
#export{
    float: right;
    width: 80px;
    color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);
}
#companyInfo tr,#companyInfo td{
    text-align: center;
    vertical-align: middle;
}
#companyInfo .Explain{
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}
#companyExplain{
    font-size: 20px;
    font-weight: bold;
}
.tdExplain{
    font-weight: bold;
    background-color: rgba(238, 238, 238, 0.55);
}












