.prohibitModal label{
    width: 130px;
}

#checkPage .form-group{
    margin-left:0px;
}
#checkPage table th,#checkPage table td{
    text-align: center !important;
}

.scene_img>div{
    float: left;
    width: 240px;
    height: 240px;
    margin: 10px 20px 0 0;
}
.scene_img img{
    width: 240px;
    height: 200px;
}
.scene_img div>span{
    display: block;
    height: 20px;
    line-height: 20px;
}

