.row>h3{
    margin-left: 10px;
    margin-bottom: 20px;
}
.baseInfo>div>label{
    text-align: right;
    /*margin-top: 5px;*/
}
.baseInfo>div>div{
    padding-left: 0px;
}
#buildingInfoTb tr,#buildingInfoTb td,#buildingInfoTb th{
    text-align: center;
}
#systemInfoTb tr,#systemInfoTb td,#systemInfoTb th{
    text-align: center;
}
#fireInfoTb tr,#fireInfoTb td,#fireInfoTb th{
    text-align: center;
}
#fireChekcInfoTb tr,#fireChekcInfoTb td,#fireChekcInfoTb th{
    text-align: center;
}
.examBtnDiv{
    text-align: center;
    margin: 10px 0 30px 0;
}
.examBtnDiv>button:first-of-type{
    /*margin-left: -2%;*/
}
.examBtnDiv>button:last-of-type{
    margin-left: 4%;
}
#buildingInfoDialog{
    width: 800px;
}
.buildingInfo>label{
    text-align: right;
}

.buildingName{
    cursor: pointer;
    color: #0088cc;
}

.LicenceImg{
    width: 600px;
    height: 300px;
}
.LicenceImg>img{
    width: 100%;
    height: 100%;
}

.buildImg{
    width: 120px;
    height: 120px;
    margin: 10px;
}



