/*引入字体*/
@font-face {
    font-family: Yuanti;
    src:
    url('../fonts/Yuanti.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Yuanti.woff')format('woff'),
    url('../fonts/Yuanti.ttf')format('truetype'),
    url('../fonts/Yuanti.svg')format('svg')
}
/*页面主体*/
html,body{
    height: 100%;
}

/*自定义按钮样式*/
.myBtn{
    background-color: #4A90E2;
    color: #FFFFFF;
    padding: 0 16px;
    font-size: 12px;
    height: 32px;
    border-radius: 4px;
    line-height: 31px;
    border: none;
}

/*模态框宽度大小*/
.myDialog_500{
    width: 500px;
}
.myDialog_600{
    width: 600px;
}
.myDialog_700{
    width: 700px;
}
.myDialog_800{
    width: 800px;
}
.myDialog_900{
    width: 900px;
}
.myDialog_1000{
    width: 1000px;
}

/*设置嵌套页面宽度*/
.main_title{
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    height: 40px;
    margin-bottom: -40px;
    padding: 0 20px;
    background-color: #F1F1F1;
    font-size: 12px;
    line-height: 40px;
}
.main_title>a{
    text-decoration: none;
    color: #8F8E94;
}
.main_title>span{
    display: inline-block;
    margin: 0 4px;
    color: #8F8E94;
    font-size: 14px;
}
.main_title>.titlt_active{
    color: #4A90E2;
}

.main_page{
    position: relative;
    z-index: 0;
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.newMain_page{
    width: 98%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main_page>.row{
    height: 100%;
}

.page_title{
    position: relative;
    z-index: 1;
    float: left;
    margin-bottom: -64px;
    padding-left: 30px;
    padding-right: 30px;
    height: 64px;
}
.page_title>div{
    float: left;
    width: 100%;
    height: 100%;
    line-height: 64px;
    border-bottom: 1px solid #C8C7CC;
}
.page_title>div>span{
    font-size: 24px;
    color: #4A90E2;
}
.page_title>div>div{
    float: right;
}

.page_content{
    position: relative;
    z-index: 0;
    float: left;
    padding-top: 84px;
    height: 100%;
}

.content_condition{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.content_condition>div{
    display: inline-block;
    width: 200px;
    height: 32px;
    margin: 0 16px;
}
.content_condition>.date{
    display: inline-table;
    vertical-align: middle;
    width: 150px;
}
.content_condition>.date>input{
    background-color: white;
}
.content_condition>.date>span{
    background-color: white;
}

#in_page{
    min-height: 600px
}
#in_paging{

}
#in_paging>div{
    float: left;
    width: 100%;
    border-top: 1px solid #C8C7CC;
}
#in_paging>div>.dataCount{
    float: left;
    height: 34px;
    line-height: 34px;
    margin: 15px 0;
}
#in_paging>div>.pagination{
    float: right;
}

/*设置表格字体居中*/
.main_table th,.main_table td{
    border: 1px solid rgba(200,199,204,.2);
    text-align: center;
}
/*设置表格标题行颜色*/
.main_table>thead{
    background-color: #4A90E2;
    color: #FFFFFF;
}
.main_table>thead>tr>th{
    border-bottom: none;
}
.fontBlue{
    background-color: #4A90E2;
    color: #FFFFFF;
}
.hBlue{
    color: #4A90E2;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-top: 0px;
}

/*操作列按钮*/
.operation{
    text-decoration: none !important;
    margin: 0px 5px;
    white-space: nowrap;
    cursor: pointer;
}

.btn_no{
    margin: 0 5px;
    color: grey;
    cursor: not-allowed;
}
.btn_no:hover{
    color: grey;
    cursor: not-allowed;
    text-decoration: none;
}

/*自定义模态框背景色*/
.prohibitModal{
    background-color: rgba(0,0,0,.7)
}

.prohibitModal .modal-header{
    background-color: #4A90E2;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.prohibitModal .modal-header .modal-title{
    font-size: 24px;
    color: #FFFFFF;
}
.prohibitModal .modal-header .close{
    margin-top: 5px;
    color: #FFFFFF;
    opacity: 1;
}
.prohibitModal .modal-body{
    padding-bottom: 0px;
}

.prohibitModal label{
    float: left;
    padding-left: 10px;
    width: 104px;
}
.prohibitModal textarea{
    height: 100px;
    resize: none;
}

.prohibitModal p{
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
    background-color: rgba(238, 238, 238,1);
    border: 1px solid rgba(204, 204, 204,1);
}

#deleteModal .modal-dialog{
    width: 400px;
}
#deleteModal h1{
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
}

#messageModal .modal-dialog{
    width: 400px;
}
#messageModal h1{
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
}

#submitModal .modal-dialog{
    width: 400px;
}
#submitModal h1{
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
}

/*树基本样式设置*/
.myTree{
    height: 100%;
    border: 1px solid grey;
    overflow-y:scroll;
    overflow-x:auto;
}

.Warning{
    visibility: hidden;
    font-size: 24px;
    color: red;
    position: absolute;
    right: -2px;
    top: 5px;
}

/*上传按钮样式*/
.up_name{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.up_btn{
    display: inline-block;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #337ab7;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}
.up_btn:hover{
    color: white;
    text-decoration: none;
}
.up_btn>input{
    position: absolute;
    z-index: 5;
    margin-left: -90px;
    left: 0px;
    top: 0px;
    font-size: 100px;
    filter:alpha(opacity=0);
    moz-opacity: 0;
    -khtml-opacity: 0;
    opacity:0;
}

.pagination{
    cursor: pointer;
}

.table_detail{
    border: 1px solid #C8C7CC;
}
.table_detail>tbody>tr>td:nth-of-type(odd){
    text-align: right;
    width: 11%;
    vertical-align:middle;
}
.table_detail>tbody>tr>td:nth-of-type(even){
    width: 22%;
    vertical-align:middle;
}
/*加载完成前提示*/
#coverLoad{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    text-align: center;
    color: #8F8E94;
    padding-top: 300px;
    font-size: 16px;
}
