
.Pro_page{
    height: 100%;
    width: 100%;
    padding: 0px;
}
.Pro_page>.row{
    margin-top: 35px;
    
}

.Pro_tab{
    /*width: 100%;
    height: 50px;
    background-color: #EBEEF0;*/
    height: 64px;
}
.Pro_tab>div{
    /*float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: #D8D8D8;
    cursor: pointer;*/
    float: left;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#fireAlarm_table,#fault_table{
    width: 97%;
    margin: 0 auto;
}


#my_page>div{
    display: none;
}
#my_page{
    margin-top: 100px;
}
.Pro_form_left{
    margin: 10px 0px;
}
.Pro_form_left>div{
    display: inline-table;
    width: 150px;
    vertical-align: middle;
    margin: 0px 10px;
}
.Pro_form_left>div>input{
    background-color: white;
}
.Pro_form_left>div>span{
    background-color: white;
}

.Pro_form_right{
    float: right;
}
#fireAlarm_automatic>input{
    vertical-align: middle;
}
#fireAlarm_automatic>span{
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
}

#fault_automatic>input{
    vertical-align: middle;
}
#fault_automatic>span{
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
}

.matic{
    margin-left: 10px;
    color: #5E9DE6;
    border-color: #5E9DE6;
}


.handle_btn{
    border: none;
    background-color: transparent;
    color: #5E9DE6;
}






