#navDiv{
    width: 96%;
    height: 50px;
    line-height: 50px;
    /*border-bottom: 1px solid darkgray;*/
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
#navBar{
    width: 75%;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    float: left;
    margin-top: 60px;
}
#navBar>li{
    float: left;
    text-align: center;
    width: 15%;
    font-weight: bold;
    font-size: 16px;
}
#navBar>li:hover{
    cursor: pointer;
}

#handleBackBtn{
    /*position: absolute;*/
    position: relative;
    width: 96%;
    height: 50px;
    /*float: right;*/
    text-align: center;
    /*top: 50px;*/
    /*right: 0px;*/
    top: 50px;
    border-bottom: 1px solid #C8C7CC;
    padding-bottom: 20px;
    margin: 0 auto;
}
#handleBackBtn>div{
    float: right;
    width: 20%;
    height: 50px;
}
#handleBackBtn button{
    width: 80px;
    height: 30px;
    float: right;
    margin-left: 10px;
    /*color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);*/
}
#handleBackBtn span{
    color: #4A90E2;
    font-size: 24px;
    float: left;
    margin-left: 0%;
}



#dealBtn{
    margin-left: 65%;
}

.baseInfo>label{
    text-align: right;
    margin-top: 5px;
}
.baseInfo>div{
    padding-left: 0px;
}
#svgDiv,#svgDivbFlatpic{
    width: 1000px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    /*margin-left: 2%;*/
    /*padding: 0px;*/
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid darkgray;

}
.circles:hover{
    cursor: pointer;

}
#svgContainer,#allBigImg{
    /*border: 1px solid darkgray;*/
    position: absolute;
    left: 0px;
    top: 0px;
    /*border: 1px solid red;*/
}
#big,#bigbFlatpic{
    position: absolute;
    bottom: 10px;
    right: 70px;
    color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);
}
#small,#smallbFlatpic{
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);
}
#mapContainer{
    width: 96%;
    height: 600px;
    margin-left: 2%;
    /*padding: 0px;*/
    margin-top: 20px;
    position: relative;
    border: 1px solid grey;
}


#lngAndLat label{
    margin-top: 5px;
    text-align: right;
}
#lngAndLat input{
    padding-left: 0px;
}
/*#allBigImg{
    margin-left: 2%;
    width: 96%;
    height: 600px;
    border: 1px solid grey;
    overflow: hidden;
}*/
#toolTip{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(156, 45, 35, 1);
    width: auto;
    height: auto;
    display: none;
    color: white;
    z-index: 999;
}
#comfirmAlarm{
    text-align: right;
}
.checkboxInputDiv div{
    display: inline-block;
    margin-right: 15px;
}
.checkboxInputDiv input{
    margin-top: 3px;
}
#statement{
    text-align: right;
}
#checkboxInputDiv textarea{

}
.baseInfo div{
    margin-top: 5px;
}

.buildingImg{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.buildingImg image{
    width: 100%;
    height: 100%;
}
.buildingImg:hover>div{
    display: block;
}
.buildingImgName{
    display: none;
}
#writePapaer{
    text-align: right;
}
/*
#allBigImg img{
    width: 100%;
    height: 100%;
}*/
.seperalRow>label{
    margin-left: -4%
}
.seperalRow input{
    width: 105%
}