/*.chooseBuilding>label{
    margin-top: 5px;
    text-align: right;
}*/
/*#addAlarmComponent{
    float: right;
    width: 7%;
}*/
#alarmComponentTb th,#alarmComponentTb td{
    text-align: center;
}
#alarmComponentTb{
    clear: both;
    margin-top: 10px;

}
#firstDiv{
    margin-top: 30px;
}
.chooseBuilding{
    margin-left: 0px;
    padding-left: 0px;
}
.chooseEquipment>div{
    margin-left: 0px;
    padding-left: 0px;
}
#buildingChoose{
    text-align: left;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}



























