.chooseBuilding>label{
    margin-top: 5px;
    text-align: left;
    /*margin: 0;*/
    margin-left: 0px;
    padding-left: 0px;
}
#addDrawingInfo{
    float: right;
    width: 7%;
}
#buildingTb th,#buildingTb td{
    text-align: center;
}
#buildingTb{
    clear: both;
    margin-top: 10px;
}

.addBuildingDiv>label{
    margin-top: 5px;
    text-align: right;
}
.addBuilding{
    width: 80%;
}
#imgDiv{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;

}
#imgDiv img{
    width: 100%;
    height: 100%;
}
#firstDiv{
    margin-top: 50px;
    border-bottom: 1px solid #C8C7CC;
    padding-bottom: 20px;
}
#firstDiv>label{
    width: 105px;
}
#firstDiv>select{
    display: inline-block;
}


#buildingDetailBody{
    position: relative;
}
#big{
    position: absolute;
    bottom: 10px;
    right: 70px;
    color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);
}
#small{
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: rgba(74,144,226,1);
    border: 1px solid rgba(74,144,226,1);
}
#imgDiv{
    position: relative;
    overflow: hidden;
}
#svgContainer{
    position: absolute;
    left: 0px;
    top: 0px;
}


/*模态框里面的上传控件*/
.file {
    position: relative;
    height: 40px;
    line-height: 40px;
}
.file label {
    display: inline-block;
}
.userdefined-file {
    position: absolute;
    top: 0;
    /*left: 0px;*/
    z-index: 2;
    /*width: 155px;*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 0;  /*应对子元素为 inline-block 引起的外边距*/
}
.userdefined-file input[type="text"] {
    display: inline-block;
    vertical-align: middle;
    padding-right: 14px;
    padding-left: 14px;
    width: 228px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userdefined-file button {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-color: #f54;
    border: none;
    color: #fff;
    cursor: pointer;
}
.file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 3;
    opacity: 0;
    filter:Alpha(Opacity=0);/*兼容IE8*/
    /*display: none;*/
    width: 278px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}























