#navBar{
    width: 75%;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    list-style-type: none;
    margin-top: 30px;
}
#navBar>li{
    float: left;
    text-align: center;
    width: 15%;
    font-weight: bold;
    font-size: 16px;
}
#postionManage{
    position: absolute;
    /*border: 1px solid darkgray;*/
    width: 100%;

}
body{
    overflow-x: hidden;
}
#positionMap{
    width: 100%;
    height: 600px;
}
.savePosition{
    text-align: right;
    margin-left: 23%;
}
.lnglat>label{
    padding: 0px;
    text-align: left;
    margin-top: 5px;
}
#fileDiv{
    /*position: absolute;
    top: -50px;
    right: 0px;*/
    margin-top: -20px;
    margin-bottom: 20px;
}
#navBar>li:hover{
    cursor: pointer;
}

/*下面是上传图片*/
.file {
    position: relative;
    height: 40px;
    line-height: 40px;
}
.file label {
    display: inline-block;
}
.userdefined-file {
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 2;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 0;  /*应对子元素为 inline-block 引起的外边距*/

}
.userdefined-file input[type="text"] {
    display: inline-block;
    vertical-align: middle;
    padding-right: 14px;
    padding-left: 14px;
    width: 220px;
    box-sizing: border-box;
    /*border: 1px solid #ccc;*/
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userdefined-file button {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-color: #f54;
    border: none;
    color: #fff;
    cursor: pointer;
}
.file input[type="file"] {
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 3;
    opacity: 0;
    filter:Alpha(Opacity=0);/*兼容IE8*/
    /*display: none;*/
    width: 300px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}



























