#areaChoose{
    text-align: left;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#firstDiv{
    margin-top: 30px;
}
.chooseEquipment>div:first-of-type{
    margin-left: 0px;
    padding-left: 0px;
}
#firstDiv h3{
    color: #4A90E2;
    width: 98%;
    margin: 20px auto;
}

