
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501841014177'); /* IE9*/
  src: url('iconfont.eot?t=1501841014177#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501841014177') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501841014177') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501841014177#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-UnitBase:before { content: "\e603"; }

.icon-danweileixing:before { content: "\e605"; }

.icon-jiankongxitongshezhi:before { content: "\e606"; }

.icon-mimaicon:before { content: "\e607"; }

.icon-qitaguanli:before { content: "\e608"; }

.icon-shouhui:before { content: "\e609"; }

.icon-FireService:before { content: "\e60a"; }

.icon-zhankai:before { content: "\e60c"; }

.icon-yonghumingcheng:before { content: "\e60d"; }

.icon-shoujiicon:before { content: "\e60e"; }

.icon-yanzhengmaicon:before { content: "\e60f"; }

.icon-yonghuxingming:before { content: "\e610"; }

.icon-StatisticalReport:before { content: "\e611"; }

.icon-zhuxiao:before { content: "\e612"; }

.icon-ContractApproval:before { content: "\e613"; }

.icon-action-people-user-n:before { content: "\e614"; }

.icon-xianshimima:before { content: "\e615"; }

.icon-UnitManagement:before { content: "\e61c"; }

.icon-ManagementSituation:before { content: "\e61e"; }

.icon-FireRecord:before { content: "\e61f"; }

.icon-FireDetection:before { content: "\e620"; }

.icon-InstitutionPersonnel:before { content: "\e621"; }

.icon-Troubleshooting:before { content: "\e622"; }

.icon-FireDepartment:before { content: "\e623"; }

.icon-AccountManagement:before { content: "\e624"; }

.icon-RemoteControl:before { content: "\e625"; }

.icon-zhucedanweiguanli1:before { content: "\e626"; }

.icon-FireInquiry:before { content: "\e627"; }

.icon-SystemResponsibility:before { content: "\e628"; }

.icon-bin:before { content: "\e629"; }

.icon-RegisterSign:before { content: "\e62a"; }

.icon-left:before { content: "\e62b"; }

.icon-right:before { content: "\e62c"; }

